/* CSS normalize */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body,
header,
ol,
ul,
li,
a, 
h1,
h2,
h3,
h4,
h5,
p,
button {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

img {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}
/* End of CSS normalize */

/* basic styling */

html {
  /* setting 1rem = 20px. assuming default 16px browser setting */
    font-size: 125%;
    /* enable smooth scrolling when using anchors */
}

body {
  background-color: #e0e0e0;
}

.wrapper {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
}

/* End of basic styling */

/* Error Page Styling */
.errorPageLink {
  display: flex;
  justify-content: center;
}

.errorPageLink h2 {
  border-bottom: 2px solid black;
  transition: border-bottom 0.4s;
}

.errorPageLink h2:hover,
.errorPageLink h2:focus {
  border-bottom: 2px solid #007BFF;
}

/* Medicine Page styling */

.fa-clock {
  font-size: 0.85rem;
}

.medPageLink {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin: 2rem 0 1rem auto;
  justify-content: flex-end;
}

.medPageLink h2 {
  border-bottom: 2px solid black;
  transition: border-bottom 0.4s;
}

.medPageLink h2:hover,
.medPageLink h2:focus {
  border-bottom: 2px solid #007BFF;
}

h3 {
  margin: 1rem 0;
}

.removeDateButton {
  margin: 2rem 0 1rem 0;
}

/* AllView styling */

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem;
}

header {
  margin: 2.5rem auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

header p {
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 calc(15% - 0.5rem);

}

label {
  margin: 0.5rem;
}

.inputContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: calc(100% - 0.5rem);
  margin: 0;
}

.inputContainer button {
  padding: 0.2rem;
  margin-left: 1rem;
  width: 30%;
}

input {
  display: flex;
  width: 70%;
  justify-content: flex-start;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding: .25rem 0.5rem;
}

button {
  margin-top: 0.5rem;
  padding: 0.1rem;
  cursor: pointer;
  border: 3px solid black;
  transition: all 0.4s;
  -webkit-box-shadow: 3px 3px 1px 1px #2A2A2A;
  box-shadow: 3px 3px 1px 1px #2A2A2A;
}

button:focus,
button:hover {
  border: 3px solid #007BFF;
  -webkit-box-shadow: 3px 3px 1px 1px #007BFF;
  box-shadow: 3px 3px 1px 1px #007BFF;
}

a {
  color: black;
}

.allView {
  margin-bottom: 3rem;
}

.today {
  color: #007BFF;
  display: flex;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.red-text {
  font-size: 1rem;
  color: red;
}

.quickview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 0;
  border-bottom: 2px solid grey;
}

.med-quickview {
  display: flex;
  flex-direction: column;
}

.singles {
  padding: 2%;
  width: 15%;
  text-align: center;
}

.sectionHeadings {
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sectionHeadings p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.6rem;
  transition: all 0.4s;
  -webkit-box-shadow: 3px 3px 1px 1px transparent;
  box-shadow: 3px 3px 1px 1px transparent;
  border: 2px solid black;
}

.sectionHeadings p:focus,
.sectionHeadings p:hover {
-webkit-box-shadow: 3px 3px 1px 1px #007BFF;
box-shadow: 3px 3px 1px 1px #007BFF;
border: 2px solid #007BFF;
}

.sectionHeadings button {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
}

footer {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer a {
  display: flex;
  flex-direction: row;
}

.junoCollege {
  margin: 0 0.5rem;
  border-bottom: 1px solid black;
}

footer p {
  display: flex;
}

.gitHubIcon {
  /* display: flex; */
  width: 1.5rem;
  margin-left: 0.8rem;
}

/* Media Queries styling */

@media (max-width: 700px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .red-text {
    font-size: 0.8rem;
  }

  .sectionHeadings p {
    font-size: 1.3rem;
  }

  .pastday0,
  .pastday1 {
    display: none;
  }
}

@media (max-width: 450px) {
  .pastday2 {
    display: none;
  }

  .inputContainer {
    flex-direction: column;
  }
}
